* {

    padding: 0px;
    margin: 0px;
}
:root{
    --back: rgb(79, 81, 82);
    --black: rgb(63, 61, 61);
    --sea: rgb(130, 248, 248);
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    background-color: var(--back);
    display: flex;
    align-items: center;
    
}

/* header h1 style for the top left logo */

header h1 {
    color:var(--black);
    font-size: 50px;
    font-weight: 600;
    margin: 10px 10px 10px 0px;
    background-color: var(--sea);
    padding:  5px 5px 5px 40px;
    
    
   
}


a {
    color: var(--sea);
    text-decoration: none;
}
