* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --back: rgb(79, 81, 82);
  --black: rgb(63, 61, 61);
  --sea: rgb(146, 245, 245);
  --white: white;
}

li,
a {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--sea);
  list-style: none;
  text-decoration: none;
}

a {
  text-underline-offset: 9px;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: var(--back);
  height: 57px;
}
header h1 {
  font-size: 2em;
  color: var(--black);
  margin-left: 80px;
  padding: 15px 0px 15px 0px;
  z-index: 1;
}

.links {
  margin-right: 200px;
}
.links li {
  display: inline;
  padding: 10px;
}

.back-color {
  position: absolute;
  left: 0;
  width: 300px;
  background-color: var(--sea);
  height: 40px;
  color: var(--sea);
}

/* main background image style */

.back-img {
  height: 500px;
  width: 100%;
  background-color: violet;
  background: url(back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
}

.text-box {
  position: absolute;
  right: 0;
  bottom: 0;
}

a:hover {
  color: white;
  transition: 0.5s;
}
a:active {
  color: rgb(230, 227, 227);
}
section {
  display: flex;
  width: 80%;
  justify-content: center;
  height: 200px;

}
.about {
    display: flex;
}
